<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Web Checker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}" />
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>
    <body>
      <table>
        <th>URL</th>
        <th>Status</th>
        {%for i in range(0, length)%} 
          <tr>
            <td>
              {{pages[i].url}}
            </td>
            <td>
              <span class="{{pages[i].color}}"></span>
              {{pages[i].status}}
              {{pages[i].message}}
            </td>
          </tr>
        {%endfor%} 
      </table>
      <form action="" method="post">
        <label>Enter a URL to check:</label>
        <input class = "textField" type = "text" name="url"/>
        <input id = "button" type = 'submit' value = "Check"/>
      </form>
    </body>
</html>